.div-navbar {
    background: transparent;
    background-image: url("../img/img1/PavilaViajes2-01.jpg");
    
        border-color: transparent;
    box-shadow: none;
    height: 655px;
    background-repeat: no-repeat;
    display: cover;
}

.divParent {
    position: relative;
    top: 0%;
    left: 0%;
}

.divParentImg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.divParentImg1 {
    position: absolute;
    top: 35%;
    left: 3%;
    width: 125px;
    height: 70px;
}

.divParentImg2 {
    position: absolute;
    top: 52%;
    left: 3%;
    width: 125px;
    height: 70px;
}
.phone-number {
position: absolute;
    top: 52%;
    left: 14%;
    
    height: 75px;
    color: #fff;
    text-shadow: 4px 2px 5px #000;
    font-size: 40px;
}

.divParentImg3 {
    position: absolute;
    top: 69%;
    left: 3%;
    width: 125px;
    height: 70px;
}

.divParentImg4 {
    position: absolute;
    top: 86%;
    left: 3%;
    width: 65px;
    height: 70px;
}

.divParentImg5 {
    position: absolute;
    top: 37%;
    right: 3%;
    width: 100px;
    height: 100px;
}

.divParentImg6 {
    position: absolute;
    top: 55%;
    right: 3%;
    width: 100px;
    height: 100px;
}

.divParentImg7 {
    position: absolute;
    top: 73%;
    right: 3%;
    width: 100px;
    height: 100px;
}
.navbar{
    background: linear-gradient(#f8f9fa66, rgba(0, 0, 0, 0.19));
    max-height: auto;
    flex-wrap: wrap;
    flex-direction: column;

}
.button-navbar{
    width: 420px;
     box-shadow: inset 1px 1px 14px #212529;
    border-radius: 5px;
 

}
.nav-link{
    color:#fff;
    text-decoration: none;
    
    background: transparent;
    font-size: 32px;
    max-width: 424px;
    text-shadow: 2px 2px #000;
    opacity: 1;
    display:cover;

   

}
a:hover{
    color: darkgrey;
    
}
a:link{
    text-decoration: none;
}
.vendido{
    background: rgba(183,183,191,19);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.19), #f8f9fa66);
    padding-top: 38px;
    align-items: center;
}
.vendido h1{
    padding-left: 50px;
    background:  rgba(184, 181, 193, 0.7);
    color: #fff;
    text-shadow:4px 2px 5px #000;
    margin-bottom: 30px;
    padding-bottom: 15px;
    font-size: 50px;

}
.img-vendida{
    padding:  8px;
    margin: 8px;
    display: cover;
    width: 100%;
    max-height: 370px;
}
.img-content{
    margin-right: 40px;
    margin-left: 40px;
}